.main-gallery{
    opacity: 1;
    height: 75%;
    margin-top: 20px;
}

.gallery-container{
    grid-column: 2;
    position: absolute;
    top: 45%;
    left: 50%;
    translate: -50% -50%;
    display: grid;
    width: max-content;
    grid-template-columns:auto auto auto;
    grid-column-gap: 20px;
    gap: 30px;
}
.gallery-container img{
    width: 250px;
    height: 250px;
}
.gallery-pages-button{
    position: absolute;
    bottom: 16vh;
    left: 50%;
    translate: -50% -50%;
    display: flex;
    justify-content: space-between;
    width: 900px;
    
}
.gallery-pages-button button{
    border: white;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}
.gallery-pages-button button:hover{
    border: 1px solid gray;
}